<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        backupGlobals="true"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        bootstrap="tests/bootstrap.php"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
>
    <coverage>
        <include>
            <directory>src</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="unit-tests">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="functional-tests">
            <directory>tests/Functional</directory>
        </testsuite>
    </testsuites>
</phpunit>
